on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: CI
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/piotrfleury/tvprogapi:latest .
          docker push ghcr.io/piotrfleury/tvprogapi:latest